/**************************************
			GENERIC ELEMENTS
***************************************/
body.mobilewidth {
	min-width: 320px;
	/* Was 494949, considered "bland" "too light" */
	background-color: #252525;
	background-image:url("../res/img/noisy.png");
	color:black;
	font-family: "Roboto";
	font-size:15px;
}
.mobilewidth hr {
	height:1px;
	opacity:0.5;
	margin:0;
	margin-left:-20px;
	margin-right:-20px;
	padding:0;
	position:relative;
	background:#F00;
	background-color:#252525;
	background-image:url("../res/img/noisy.png");
	color:black;
	border: none;
	margin-top:30px;
	margin-bottom:20px;
}

/**************************************
			  MAIN LAYOUT
***************************************/

.mobilewidth .pagewidth {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
.mobilewidth .pagewidth > * > * {
	/*max-width:320px;*/
	margin:auto;
}

/**************************************
			  PAGE LAYOUT
***************************************/

/*
The bar between the navbar and the page.
*/
.mobilewidth #pagetype {
	font-size:16px;
	text-align:center;
}

.mobilewidth #pagetype .background {
	display:none;
}

.mobilewidth #pagetype .subnav li {
	display:none;
}

.mobilewidth #pagetype .subnav li:nth-of-type(1) {
	display:block;
}

.mobilewidth #leftcol {
	width:auto;
	padding:20px;
	float:none;

	background-color:white;
	background-image:url("../res/img/noisy.png");
}

.mobilewidth #rightcol {
	right:0px;
	top:0px;
	height:100%;
	width:auto;
	padding:20px;
	float:none;
	margin-top:6px;

	background-color:white;
	background-image:url("../res/img/noisy.png");
}



.mobilewidth .twocolumns {
	position:relative;
	width:auto;
	margin:auto;
	margin-top:6px;
	background-color:#222;
	background-image:url("../res/img/noisy.png");
	color:black;
}

.mobilewidth .onecolumn {
	position:relative;
	width:auto;
	margin:auto;
	margin-top:6px;
	background-color:white;
	background-image:url("../res/img/noisy.png");
	color:black;
	padding:20px;
}

/**************************************
				 GEARS
***************************************/

/**************************************
		   IMAGE GALLERY
***************************************/

#gallerybox {
	width:auto;
	height:auto;
	box-shadow:none;
}

#gallerystatic {
	display:block;
}

#gallerystatic ul {
	padding:0;
}

#gallerystatic li {
	display:block;
	background-color:white;
	background-image:url(../res/img/noisy.png);
	line-height:2em;
	border-bottom:1px solid #AAA;
}

#gallerystatic a {
	display:block;
	height:3em;
	line-height:3em;
	padding-left:.75em;
	font-weight:bold;
}

#gallerycontent {
	display:none;
}
#gallerytabs {
	display:none;
}

/**************************************
			  BACKGROUND
***************************************/

/**************************************
			  HEADER CSS
***************************************/

.mobilewidth .button {
	display:none;
}

.mobilewidth #head {
	text-align:center;
	margin-top:1em;
}

.mobilewidth #adambotslogo {
	float:none;
	display:inline-block;
	margin:0;
	margin-left:5px;
	margin-right:5px;
}

.mobilewidth .logoatom {
	width:47px;
	height:47px;
}
.mobilewidth .logoname {
	width:215px;
	height:28px;
}
.mobilewidth .logotag {
	width:215px;
	height:16px;
}

.mobilewidth #social {
	height: auto;
	margin:0;
	position: relative;
	float: none;
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}

.mobilewidth #social a {
	margin:0;
}

.mobilewidth #social .button a {
	margin:0px;
	color:white;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
}

.mobilewidth #social a span {
	position:relative;
	display:inline-block;
	height:25px;
	background-image:url("../res/img/social/combined.png");
	background-repeat:no-repeat;
	min-width:25px;
	margin:5px;
}

.mobilewidth #social .slink {
	border-radius:5px;
	display:inline-block;
}

.mobilewidth #social .slink:hover {
	background:rgba(255,255,255,0.07);
}

/**************************************
			  FOOTER CSS
***************************************/

.mobilewidth #footerjustify {
	padding:2em;
	margin:0;text-align:justify;
}

.mobilewidth #footer img {
	width:231px;
	height:34px;
}

/**************************************
			 CONTENT CSS
***************************************/

/**************************************
			 DROPDOWN CSS
***************************************/

/*
Bar containing menu items.
*/

.mobilewidth #dropdown {
	height:auto;
}

/*
Menu tabs in starting bar
*/
.mobilewidth #dropdown .navtab {
	line-height: 50px;
	display: inline-block;
	position: relative;
	height: 50px;
}

/*
Navigation map in the left side
*/
.mobilewidth #below ul.left,#below ul.right {
	float: none;
}

/*
The navigation headings in the dropdown box.
*/
.mobilewidth #below ul li .sectiontitle {
	width: 100%;
	border-bottom: 1px solid #111;
	margin-top: 0px;
	margin-bottom: 5px;
}


/*
Descriptions in navigation.
*/
.mobilewidth #below ul li span {
	display:none;
}

/**************************************
			   PANEL CSS
***************************************/
/*
Triple panel display above footer
*/

.mobilewidth .panel {
	position:static;
	width:auto;
	display:block !important;
	margin-top: 6px;
	background:white;
	background-image:url("../res/img/noisy.png");
	color:black;
	box-shadow: 0 0 10px #000;
	padding-top: 15px;
}

.mobilewidth .panel a {
	font-size: 20px;
}

.mobilewidth #panelcontainer {
	height:auto;
	/*
	animation-timing-function:cubic-bezier(.30, 0, 0, 1);
	animation: slidein 1.5s;
	-moz-animation: slidein 1.5s;
	-webkit-animation: slidein 1.5s;
	-o-animation: slidein 1.5s;*/
}
/**************************************
		vNEXTGEN GALLERY MODSv
***************************************/



/**************************************
		^NEXTGEN GALLERY MODS^
***************************************/
.mobilewidth #countdown {
	max-width:930px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	color:white;
	height:60px;
	line-height:60px;
	font-size:18px;
}

/**************************************
			  BODY CARDS
***************************************/
.mobilewidth #bodycards {
	width:auto;
	max-width:none;
	height:auto;
	margin-left: 0;
	margin-right: 0;
	padding: 0px;
	position: relative;
}

.mobilewidth #teaminfo {
	width:auto;
	height:auto;
	float:none;
	padding-bottom:25px;
}

.mobilewidth #teaminfo p {
	padding:20px;
	font-size:17px;
	line-height: 25px;
}

.mobilewidth #teaminfo p strong {
	font-size: 18px;
}

.mobilewidth #teaminfo a {
	color: #494949;
	text-decoration:underline;
}

.mobilewidth #teamatom {
	padding-top: 25px;
	width: auto;
	text-align:center;
}

.mobilewidth #teamatom img {
	width:176px;
	height:36px;
}

.mobilewidth #teaminfo img {
	position: relative;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.mobilewidth #twitter {
	display:none;
}


/**************************************
		  SLIDING ANIMATION
***************************************/

/**************************************
			 PAGE ANIMATION
***************************************/